img {
    width: 100%;
}

main {
    position: relative;
}

body {
    background-color: white;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

header {
    position: relative;
    height: 0;
    margin-bottom: 5rem;
}

.menubillede {
    float: left;
    margin-top: -5.5rem;
    margin-left: 0rem;
    cursor: pointer;
}

.billede_nav {
    width: 19rem;
    height: 9rem;
}



/*---------------------  font start  ------------------------*/

h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
    color: #403222;
    text-transform: uppercase;
}

h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
    color: #403222;
    text-transform: uppercase;
    /*    text-decoration: underline;*/
}

h3 {
    font-family: 'Poppins', sans-serif;
    font-size: 1.25rem;
    color: #403222;
    text-transform: uppercase;
}

h4 {
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    color: #403222;
    text-transform: uppercase;
}

h1,
h2,
h3,
h4 {
    font-weight: 400;
}

p {
    font-family: 'Lato', sans-serif;
    font-size: 1.15rem;
    color: #403222;
    line-height: 1.4;
}

a {
    font-family: 'Poppins', sans-serif;
    font-size: 1.25rem;
    color: #403222;
    line-height: 1.4;
}

figcaption {
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

.menulinklast:visited {
    color: #eab662;
}

/*---------------------  font slut  ------------------------*/


/*---------------------  Borger menu start  ------------------------*/

@media (max-width: 650px) {

    /*


    .menubillede {
        float: left;
        margin-top: 10px;
        margin-left: 20px;
        margin-right: 60px;
        cursor: pointer;
    }

    .billede_nav {
        width: 400px;
        height: 50px;
    }
*/


    .menulink {
        display: none;
    }

    .menulinklast {
        display: none;
    }

    .burgermenu {
        display: block;
        float: right;
        font-size: 25px;
        padding: 0;
        text-align: right;
        height: 50px;
        width: 100%;
    }

    #burgerknap {
        margin-right: 3rem;
        margin-top: 1rem;
        display: inline-block;
        cursor: pointer;

    }

    .burgerknap {
        margin-right: 2rem;

    }

    .hidden {
        opacity: 0;
        transform: translateX(100%);

    }

    .burgermenulink {
        font-family: 'Poppins', sans-serif;
        cursor: pointer;
        text-decoration: none;
    }

    #burgersection {
        position: relative;
        transition: transform 0.3s;
        transform-style: top right;
        background: #fffbf4;
        margin-top: 1.5rem;
        /*        height: 35rem;*/
        line-height: 100px;
        z-index: 2;
    }

    #burgersection li {
        margin-top: -0.75rem;
        margin-right: 2rem;
        text-align: center;
        padding: 10px;
    }

    .burgermenulink:link {
        color: black;

    }

    .burgermenulink:visited {
        color: black;
    }

    .burgermenulink:after {
        background: none repeat scroll 0 0 transparent;
        bottom: 2;
        content: "";
        display: block;
        height: 1.5px;
        left: 50%;
        position: absolute;
        background: black;
        transition: width 0.3s ease 0s, left 0.3s ease 0s;
        width: 0;
    }

    .burgermenulinklast:hover:after {
        width: 100%;
        left: 0;
    }
}

@media (min-width: 651px) {
    .burgermenu {
        display: none;
    }

    nav {
        flex-direction: row;
    }

    nav img {
        display: inline;
        height: 50px;
    }

    .menubillede {
        float: left;
        margin-top: 0rem;
        margin-left: 0rem;
        cursor: pointer;
    }

    .billede_nav {
        width: 30rem;
        height: 4rem;
    }

}

:link {
    color: #403222;
}

a:visited {
    color: #403222;
}

a:hover:hover {
    color: #eab662;
}

a:active {
    color: white;
}






/*---------------------  Nav bar start  ------------------------*/


nav {
    background-color: #fffbf4;
    padding: 0.5rem;
    font-weight: 400;
    font-size: 1rem;
    text-align: right;
    margin: 0px;
    flex-direction: row;
    justify-content: space-between;
    height: 10vh;
    word-spacing: 1vw;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    /*    position: fixed;*/
}

nav a {
    font-family: 'Poppins', sans-serif;
    color: #403222;
}



.menu_web {
    margin-top: 30px;
}

.menulink {
    margin-top: 10px;
    margin-left: 60px;
    margin-right: 20px;
    cursor: pointer;
    text-decoration: none;
}

/*
.menubillede {
    float: left;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 60px;
    cursor: pointer;
}

.billede_nav {
    width: 400px;
    height: 50px;
}
*/





/*---------------------  Footer start ------------------------*/

.socialMedias {
    margin-top: -3.12rem;
    margin-right: 1.6rem;
}

.facebook {
    width: 30px;
    height: 30px;
}

.instagram {
    width: 30px;
    height: 30px;
}

footer {
/*    position: fixed;*/
    word-spacing: 1vw;
    text-align: left;
    background-color: #fffbf4;
    height: 100px;
    bottom: -22px;
    left: 0px;
    width: 100%;
    color: black;
    padding: 5px;
    line-height: 1.4;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-color: black;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
}



/*<!------------------- til top knap start --------------------->*/


#myBtn {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Fixed/sticky position */
    bottom: 82px;
    /* Place the button at the bottom of the page */
    right: 38px;
    /* Place the button 30px from the right */
    z-index: 99;
    /* Make sure it does not overlap */
    border: none;
    /* Remove borders */
    outline: none;
    /* Remove outline */
    background-color: #fffbf4;
    /* Set a background color */
    color: #403222;
    /* Text color */
    cursor: pointer;
    /* Add a mouse pointer on hover */
    padding: 10px;
    /* Some padding */
    border-radius: 10px;
    /* Rounded corners */
    font-size: 18px;
    /* Increase font size */
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    border: 0.10rem solid #403222;
}

#myBtn:hover {
    color: #eab662;
    /* Add a dark-grey background on hover */
}
