img {
    max-width: 100%;
    height: auto;
}

main {
    max-width: 1700px;
    margin: 0 auto;
}

#video {
    position: relative;
    top: 1vw;
    z-index: -1;
    min-width: 100%;
    width: auto;
    height: 30vw;
    object-fit: cover;
    background-position: 50% 50%;
}

section {
    text-align: center;
    margin: 40px 0;
    margin-bottom: 100px;
}

.image-container {
    display: flex;
    gap: 20px;
    padding: 20px;
}

.image-container figure {
    flex-grow: 1;
}

.image-container figcaption {
    padding: 20px;
    background: #fff;
}

/*Mobil version*/

@media only screen and (max-width: 650px) {

    main {
        min-height: 300vh;
    }

    #video {
        position: relative;
        top: -4vw;
        z-index: -1;
        min-width: 100%;
        width: auto;
        height: 75vw;
        object-fit: cover;
        background-position: 50% 50%;
    }

    .image-container {
        overflow-x: scroll;
        scroll-snap-type: x mandatory;
    }

    .image-container figure {
        flex-basis: 90%;
        flex-shrink: 0;
        scroll-snap-align: center;
    }

    .image-container img {
        margin-right: 20px;
    }
}
