img {
    max-width: 100%;
    height: auto;
}



/*Mobil version*/

@media only screen and (max-width: 650px) {


    #video {
        position: relative;
        top: 0vw;
        z-index: -1;
        min-width: 100%;
        width: auto;
        height: 56.3vw;
        object-fit: cover;
        background-position: 50% 50%;
    }
}



/*web version*/


@media only screen and (min-width: 651px) {

    #video {
        position: relative;
        top: 3vw;
        z-index: -1;
        min-width: 100%;
        width: auto;
        height: 30vw;
        object-fit: cover;
        background-position: 50% 50%;
    }
}
