/* Reset */
* {
    /*    margin: 0;*/
    /*    box-sizing: border-box;*/
}

img {
    width: 14%;
    vertical-align: middle;
}


/* Global styles */
body {
    background: #fff;
}

/*
 Header header {
     padding: 20px;
     background: #fff;
     text-align: center;
 }
*/

/* Header */
main {
    max-width: 1700px;
    margin: 0 auto;
    min-height: 200vh;
}

section {
    position: relative;
    text-align: center;
    margin: 40px 0;
    padding-bottom: 8vw;
}

#amager_strand {
    position: relative;
    width: 100%;
    height: 30vw;
    object-fit: cover;
    margin-bottom: 30px;
    margin-top: 10px;
}

.cv img {
    width: 45%;
    vertical-align: middle;
    border: 0.10rem solid #eab662;
    margin: 20px;
}



/* ------------ Mobil version -------------- */


@media (max-width: 650px) {
    img {
        width: 35%;
        vertical-align: middle;
    }

    #amager_strand {
        position: relative;
        width: 100%;
        height: 55vw;
        object-fit: cover;
        margin-bottom: 30px;
        margin-top: -10px;
    }

    .cv img {
        width: 87%;
        vertical-align: middle;
        border: 0.10rem solid #eab662;
        margin: 20px;
    }

    section {
        padding: 20px;
    }

}
