/* Reset */
* {
    /*    margin: 0;*/
    /*    box-sizing: border-box;*/
}

img {
    width: 14%;
    vertical-align: middle;
}


/* Global styles */
body {
    background: #fff;
}

/*
 Header header {
     padding: 20px;
     background: #fff;
     text-align: center;
 }
*/

/* Header */
main {
    max-width: 1700px;
    margin: 0 auto;
    min-height: 300vh;
}

section {
    position: relative;
    text-align: center;
    margin: 40px 0;
}

#amager_strand {
    position: relative;
    width: 100%;
    height: 30vw;
    object-fit: cover;
    margin-bottom: 30px;
    margin-top: 20px;
}

/* ------------ Mobil version -------------- */


@media (max-width: 650px) {
    img {
        width: 35%;
        vertical-align: middle;
    }

    #amager_strand {
        position: relative;
        width: 100%;
        height: 55vw;
        object-fit: cover;
        margin-bottom: 30px;
        margin-top: -10px;
    }
}

/*
.image-container {

    position: absolute;
    top: 18vw;
    left: 76vw;
}

.image-sprite {
        display: flex;
    position: relative;
    background-image: url();
    background-size: cover;
    width: 24vw;
    height: 42vw;
    object-fit: cover;
}
*/

/*
.image-container figure {
    flex-grow: 1;
}

.image-container figcaption {
    padding: 20px;
    background: #fff;
}
*/
